# User-specific files
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates
**/*.cache
**/*.jfm
**/*.dbmdl

# User-specific files (MonoDevelop/Xamarin Studio)
**/*.userprefs
**/package-lock.json
**/.angulardoc.json

# Build results
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/build/
**/bld/
**/bin/
**/Bin/
**/obj/
**/Obj/
**/.vs/

# Visual Studio profiler
**/*.psess
**/*.vsp
**/*.vspx
**/*.sap

# Publish Web Output
**/*.[Pp]ublish.xml
**/*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
**/*.pubxml
**/*.publishproj

**/*_i.c
**/*_p.c
**/*_i.h
**/*.ilk
**/*.meta
**/*.obj
**/*.pch
**/*.pdb
**/*.pgc
**/*.pgd
**/*.rsp
**/*.sbr
**/*.tlb
**/*.tli
**/*.tlh
**/*.tmp
**/*.tmp_proj
**/*.log
**/*.vspscc
**/*.vssscc
**/.builds
**/*.pidb
**/*.svclog
**/*.scc
**/*.jfm
**/*.jfm
**/*.dbmdl

# Specific elements regarding project
**/.sonarqube/
**/coverage.cobertura.xml
**/*.code-workspace
**/credentials.json